/* Reset ================ */
/* ======================*/
body {
  font-family: Arial, Helvetica, sans-serif;
  padding:0;
  margin:0;
}
:root {
  --primary: #6C00C8; 
  --shadow-color: 0deg 0% 74%;
  --shadow-elevation-high:
  0px 0.4px 0.5px hsl(var(--shadow-color) / 0.29),
  -0.1px 1.9px 2.1px -0.5px hsl(var(--shadow-color) / 0.29),
  -0.3px 3.9px 4.4px -1px hsl(var(--shadow-color) / 0.29),
  -0.5px 7.5px 8.5px -1.5px hsl(var(--shadow-color) / 0.29),
  -0.9px 13.7px 15.4px -2px hsl(var(--shadow-color) / 0.29),
  -1.6px 23.6px 26.6px -2.5px hsl(var(--shadow-color) / 0.29);
}
/* Local fonts ========== */
/* ======================*/
@font-face {
  font-family: 'Poppins';
  src: local('Poppins SemiBold'), local('Poppins-SemiBold'),
      url('./fonts/Poppins-Light.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: local('Poppins Medium'), local('Poppins-Medium'),
      url('./fonts/Poppins-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Poppins';
  src: local('Poppins Light'), local('Poppins-Light'),
      url('./fonts/Poppins-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* Typography ========= */
/* ===================*/
html, body, div, span, 
h1, h2, h3, h4, h5, h6, p, a, b, ul, li,
form, label, input, button {
  font-family: 'Poppins';
  font-weight: 300;
}

/* Container ========== */
/* ===================*/
.App {
  text-align: center;
}
.header {
  width:100%;
  background-color: var(--primary);
}
.header img {
  width: 100%;
  max-width: 400px;
}
main {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  /* box-shadow: var(--shadow-elevation-high); */
  padding: 1em;
  border-radius: 16px;
}
.meme__generator{
  padding: 1em 0;
}
.meme {
  display: block;
  width: 40%;
  height:40%;
  position: relative;
  object-fit: cover;
  margin: 0 auto;
}
.meme__image {
  display: block;
  margin:3em auto;
  width: 100%;
  height:100%;
  object-fit: cover;
}
.meme h2 {
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  position:absolute;
  text-align: center;
  width:100%;
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
    -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000,
    2px 2px 5px #000;
}
.meme h2.top {
  top:0;
  left:0;
}
.meme h2.bottom {
  bottom:0;
}
form {
  display: flex;
  justify-content: center;
  align-items: end;
  flex-wrap:wrap;
  gap:20px;
}
fieldset {
  border:0;
  flex-basis: 30%;
}
fieldset, input {
  display: block;
  font-size:14px;
  text-align: left;
}
label {
  color: var(--primary);
  padding: 4px 6px 0;
  background-color: white;
  font-size:14px;
  position: relative;
  left: 6px;
  top: 10px;
  width: auto;
  box-sizing: border-box;
}
input, button, .button {
  border-radius: 4px;
}
input {
  padding: 8px 4px 2px;
  border: 2px solid var(--primary);
  width: 100%;
}
input::placeholder{
  color:#999;}
button, .button {
  background-color:var(--primary);
  color:white;
  font-weight: 500;
  border:2px solid transparent;
  position: relative;
  bottom:9px;
  padding: 6px 24px;
  height:auto;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  transition: all 0.2s ease-in-out;
}
button:hover {
  background-color: white;
  border: 2px solid var(--primary);
  color:var(--primary)
}
.meme__exporter {
  display: flex;
  justify-content: center;
  gap:20px;
}
.meme__exporter button,
.meme__uploader .button {
  color:var(--primary);
  background-color:white;
  border: 2px solid var(--primary);
}
.meme__exporter button:hover,
.meme__uploader .button:hover {
  background-color:var(--primary);
  color:white;
}
.meme__uploader {
  text-align: center;
  display: inline-block;
}
p.meme__uploader {
  display: flex;
  align-items: flex-end;
}
.meme__uploader .button {
  bottom: 0;
  top: 8px;
}
input.upload {
  margin: 0 auto;
  cursor: pointer;
}